* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Form {
  width: 350px;
  background-color: #2a9d8f;
}
.form-legend {
  text-align: center;
}
